.navbar {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
}

.navbar-container {
  max-width: 1200px;
  height: 70px;
  margin: auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.navbar-logo {
  color: #2563eb;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

/* Navigation Links */

.navbar-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-links a {
  color: #64748b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #2563eb;
}

.navbar-links .active {
  color: #2563eb;
  font-weight: 600;
}

/* Buttons */

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-btn {
  color: #0f172a;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.login-btn:hover {
  color: #2563eb;
}

.register-btn {
  padding: 10px 16px;

  background-color: #2563eb;
  color: #ffffff;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.register-btn:hover {
  background-color: #1d4ed8;
}

/* Responsive */

@media (max-width: 750px) {
  .navbar-links {
    display: none;
  }

  .navbar-actions {
    margin-left: auto;
  }
}